#!/bin/sh

# Adds ~/.local/bin and its subdirectories to $PATH. 
# This will help you run scripts which are in these folders.
export PATH="$PATH:$(du "$HOME/.local/bin/" | cut -f2 | paste -sd ':')"

# Ibus export
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus

# Speed up key
xset r rate 300 50 &

# Wallpaper
feh --bg-fill Wallpapers/wallpaper1.jpg &

# Transparency
picom -b &

# Start ibus
ibus-daemon -drx &

# Netework manager applet
nm-applet &

# Status bar
$HOME/dynamic-bar/bar.sh &
