
# Speed up key
xset r rate 300 50 &

# Wallpaper
feh --bg-fill wallpapers/wallpaper4.jpg &

# Transparency
picom -b &

# Start ibus
pidof ibus-daemon > /dev/null || ibus-daemon -drx &

# Netework manager applet
nm-applet &

# Status bar
$HOME/.config/dynamic-bar/bar.sh &
