configuration {
  /* Enable modi */
  modi: "window,run,ssh,drun";
  combi-modi: "window,run,ssh,drun";
  /* Window size */
  width: 40;
  lines: 6;
  /* Window columns */
  columns: 1;
  /* Font */
  font: "FiraCode Nerd Font 12";
  /* Border width */
  bw: 3;
  /* Hide scrollbar */
  hide-scrollbar: true;
}
@theme "~/.config/rofi/theme.rasi"
