BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentWidth: 2
UseTab: Never
ColumnLimit: 0
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
PointerAlignment: Left
