[[manager.prepend_keymap]]
on = ["l"]
run = "plugin --sync smart-enter"
desc = "Enter the child directory, or open the file"

[[manager.prepend_keymap]]
on = ["p"]
run = "plugin --sync smart-paste"
desc = "Paste into the hovered directory or CWD"

[[manager.prepend_keymap]]
on = ["y"]
run = ["yank", '''
	shell --confirm 'echo "$@" | xclip -i -selection clipboard -t text/uri-list'
''']

[[input.prepend_keymap]]
on = ["<Esc>"]
run = "close"
desc = "Cancel input"
[[manager.prepend_keymap]]
on = ["d"]
run = "remove --permanently"
desc = "Remove file"
